
.portafolio{
  height: auto;
}


.bd{
  display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    width: 90%;
    padding: 10em;
    margin: auto;
}

.demo1{
  background-image: url("../../Assets/Rectangle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 726px;
  width: 525px;
  border-radius: 65px;
}

.demo2{
  background-color: rgb(231, 231, 231);
  height: 341px;
  width: 525px;
  border-radius: 65px;
}

.demo3{
  margin-top: -170px;
  background-image: url("../../Assets/Rectangle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 726px;
  width: 525px;
  border-radius: 65px;
  margin-top: -668px;
}

.demo4{
  background-color: rgb(231, 231, 231);
  height: 341px;
  width: 525px;
  border-radius: 65px;
  margin-top: -285px;
}


.body-t{
  height: auto;
  width: 50%;
  margin: auto;
}



