
.portafolio{
  height: auto;
}

.body-t{
  height: auto;
  padding: 0em;
  margin-top: -200px;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  border-radius: 65px;
  padding: 5px;
  width: 420px;
  height: 340px;
 
  line-height: 150px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.flex-item1 {
  background: tomato;
  border-radius: 65px;
  padding: 5px;
  width: 420px;
  height: 520px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.des{
  margin-top: -150px;
}

.de{
  margin-top: 30px;
}

@media screen and (max-width: 960px){
  .des{
    margin-top: 10px;
  }

  .de{
    margin-top: 30px;
  }
  
  .body-t{
    height: auto;
    padding: 0em;
    margin-top: 20px;
  } 
}


@media screen and (min-width: 1200px)  {
  .body-t{
    height: auto;
    padding: 10em;
    margin-top: -200px;
  }
}

