h1{
    font-family: 'Comfortaa', cursive;
    font-size: 8vw;
    color: black;
}

h3{
    font-family: 'Comfortaa', cursive;
    font-size: 4vw;
    color: black;
    text-align: center;
}

.Home h1{
    width: 50%;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

.Home h2{
    color: black;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.Home h4 {
    font-family: 'Great Vibes', cursive;
    color: black;
}

