.ls{
    text-align: center;
}

.fixed-top{
    min-height: 10%;
}

.navbar-light .navbar-toggler{
    border-color: transparent;
}

button:focus{
    outline: 0px auto;
}

.logo{
    font-size: 40%;
}


.navbar-collapse{
    overflow: hidden;
}

link{
    color: rgba(0,0,0,.5);
    
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
}

a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    background-color: transparent;
    padding-right: .5rem;
    padding-left: .5rem;
    text-align: left;
}

a:hover {
    color: black;
    text-decoration: transparent;
}