
/***********************
CSS Reconocimientos
*/
.Reconocimientos h1{
  font-size: 3rem;
}

.img1{
  background-image: url("../../Assets/1s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 567px;
}

.img2{
  background-image: url("../../Assets/2s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 567px;
}

.img3{
  background-image: url("../../Assets/3s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 567px;
}


.row{
  margin-right: 0px;
    margin-left: 0px;
}
  
.Info{
  margin-top: 25vh;
}

button{
  background-color: black;
  border-radius: 17px;
  width: 196px;
  height: 57px;
  border: 0px solid;
  color: white;
}