/***********************
CSS Footer
*/


  .Footer {
    background: -webkit-linear-gradient(135deg, rgb(109, 91, 88), rgb(255, 191, 255));
    -webkit-background-clip: text;
    color: black;
    -webkit-text-fill-color: transparent;
  }


  .corp p{ 
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    color: black;
  }
  

  .Footer h1{
    font-size: 1.5rem;
}

.lss{
  background-color: #ECF0F8;
  height: 43px;
  
}

.lss p{
color: black;}

.icons{
  width: 30%;
    margin: auto;
    padding: 2em;
}