.Experiencia {
    text-align: center;
    min-height: 100vh;
    
  }


  .Experiencia h1 {
    font-size: 3.5em;
   
  }



  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item4 {
    background: #E9EEF6;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

  }
  

    
  .flex-item3 {
    background: #E9EEF6;
    padding: 5px;
    width: 253px;
    height: 273px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 65px;
  }
  

  .flex-item3 p{
    font-size: 1.5rem;
    color: black;
  }

  .dl{
    padding: 1em;
  }