.Experiencia {
    text-align: center;
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
  }
  