/***********************
CSS Header
*/

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #ffffff;
  background-image: url('./img/Fond2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/***********************
CSS Perfil
*/

.perfil {
  text-align: center;
  height: 500px;

}


